@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #0e0951;
    color: black;
    font-family: 'Roboto', sans-serif;
}
.container1{
    display: flex;
    /* border: 2px solid black; */
    /* margin: 150px auto; */
    flex-direction: column;
    width: 45%;
    padding: 20px;
    background-color:antiquewhite;
    border-radius: 20px;

    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
h1{
    text-align: center;
    color: #0e0951;
    /* color: #495057; */
}
    /* border: 2px solid black; */

.container{
    display: flex;
    /* border: 2px solid white; */
    /* align-items: center; */
    gap: 10px;
    padding: 5px;
    
    
}
.image{
    text-align: center;
    /* border: 2px solid white; */
    padding: 5px;
}
.image img{
    width: 300px;
}
.error{
    display: none;
}
.start{
    display: flex;
    flex-direction: column;
    /* border: 2px solid white; */
    padding: 10px;
    justify-content: space-evenly;
}

input[type="text"]{
    border: none;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #81dcd6;
    color: #495057;
    font-weight: bold;

}
button{
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #81dcd6; 
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    border: none;
    color: #495057;
    font-weight: bold;
    
}
h3{
    color: #0e0951;
}
.difficulty {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  label{
    user-select: none;
  }
  input[type="radio"] {
    display: none;
  }
  
  input[type="radio"] + label {
    z-index: 10;
    margin: 0 10px 10px 0;
    position: relative;
    color: #81dcd6;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
    font-weight: bold;
    background-color: #ffffff;
    border: 2px solid #81dcd6;
    cursor: pointer;
    transition: all 200ms ease;
  }
  
  input[type="radio"]:checked + label {
    color: #495057;
    background-color: #81dcd6;
  }
  
  input[type="radio"] + label {
    padding: 5px 20px;
    border-radius: 10px;
  }
  ::placeholder {
    color: #81dcd6;
    font-weight:700;
}
.play{
    display: none;
    justify-content: space-between;
    gap: 20px;
    /* height: 19vw; */
    /* display: flex; */
    flex-direction: column;
    background-color: antiquewhite;
    /* margin: 150px auto; */
    width: 40%;
    padding: 20px 20px;
    border-radius: 20px;

    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.guess{
    display: none;
    color: #495057;
    font-size: 1.25rem;
    text-align: center;
    font-family: roboto;
}
input[type="number"]{
    border: none;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #81dcd6;
    color: #495057;
    font-weight: bold;
}
.win{
    display: none;
    background-color:antiquewhite;
    /* display: inline-block; */
    padding: 20px;
    border-radius: 15px;
    text-align: center;

    margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}
.win p{
    font-size: 25px;
}
.win button{
    margin: 5px 12px 5px 0px;
}
.btns{
    text-align: center;
}
.lose{
    display: none;
    background-color:antiquewhite;
    /* display: inline-block; */
    padding: 20px;
    border-radius: 15px;

    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.lose p{
    font-size: 25px;
}
.lose button{
    margin: 5px 20px 5px 0px;
}
@media only screen and (min-width: 800px) and (max-width: 1450px){
    .container1{
        margin: 8%;
    }
    .container{
        flex-direction: column;
        gap: 10px;
    }
    .start{
        gap: 15px;
    }
    .difficulty{
        justify-content: center;
    }
}
@media only screen and (max-width:650px){
    .play{
        width: 70%;
    }
    .container1{
        width: 80%;
    }
    .win, .lose{
        width: 75%;
    }
    .container{
        flex-direction: column;
        gap: 10px;
    }
    .start{
        gap: 20px;
    }
    .image img{
        width: 170px;
    }
    /* .difficulty{
        flex-direction: column;
    } */
}
@media only screen and (min-width: 650px) and (max-width: 800px){
    .container1{
        margin: 5%;
    }
    .container{
        flex-direction: column;
        gap: 10px;
    }
    .start{
        gap: 15px;
    }
    .image img{
        width: 250px;
    }
}
@media only screen and (max-width:500px){
    *{
        font-size: 10px;
    }
    h1{
        font-size: 20px;
    }
    .container1{
        width: 80%;
    }
}